body {
  font-family: 'poppins' !important;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-cell:focus-visible,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-columnHeader:focus-visible,
.MuiDataGrid-row:focus,
.MuiDataGrid-row:focus-visible .MuiDataGrid-main:focus {
  outline: none !important;
  box-shadow: none !important;
}

.MuiDataGrid-row:hover {
  background-color: var(--verdeSuperClaro) !important;
  cursor: pointer; /* se quiser */
}

.MuiDataGrid-row.Mui-selected {
  background-color: transparent !important;
}

.tituloMedicos {
  margin-top: 2%;
  font-size: 40px;
  color: var(--verdeEscuro);
}

.borda-filtro-pacientes {
  border: 2px solid var(--verdeClaro);
  border-radius: 20px;
}

.borda-filtro-pacientes button {
  border-radius: 20px;
}

.borda-filtro-pacientes input {
  border-radius: 20px;
  color: var(--verdeEscuro);
  border: none;
}

.borda-filtro-pacientes input:focus {
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.borda-filtro-pacientes i {
  color: var(--verdeEscuro);
}

.container-filtro-pacientes {
  margin-top: 2%;
  margin-bottom: 2.5%;
}

.total-adm {
  margin-bottom: 6%;
}

@media (max-width: 575.98px) {
  .inputs-filtro-adm {
    width: 100% !important;
  }
}
