.data-dia {
  padding-bottom: 0px !important;
}

.btn-close:focus {
  box-shadow: none !important;
  outline: 0 !important ;
  border: none !important;
}

.fechar {
  margin-bottom: 15px !important;
  padding-left: 30px !important;
}

.btn-modal-consulta {
  color: var(--branco);
  background-color: var(--verdeEscuro);
  border-radius: 20px;
}

.btn-modal-consulta:hover {
  transition: 0.3s;
  background-color: var(--verdeClaro);
  color: var(--branco);
}

.msg-chamado-modal {
  border-radius: 20px;
  color: var(--verdeEscuro);
  border: 1px solid var(--verdeEscuro);
}

.msg-chamado-modal:focus {
  border-color: var(--verdeClaro) !important;
  box-shadow: 0 0 0 0.25rem rgba(6, 145, 122, 0.297) !important;
}

.label-chamado-modal {
  color: var(--verdeEscuro) !important;
}

.excluir-modal-chamado,
.editar-modal-chamado {
  padding: 0px;
  color: var(--verdeEscuro);
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.select-consulta2__control {
  border: solid 1px var(--verdeMedio) !important;
  width: 100%;
  color: var(--verdeEscuro) !important;
  border-radius: 20px !important;
  margin-bottom: 7px;
}

.select-consulta2__control--is-focused {
  border-color: var(--verdeClaro) !important;
  box-shadow: 0 0 0 0.25rem rgba(6, 145, 122, 0.297) !important;
  outline: 0;
}

.select-consulta2__placeholder {
  color: var(--verdeMedio);
}

.select-consulta2__option {
  padding: 10px;
  color: #212529;
  background-color: #fff;
}

.select-consulta2__option--is-focused {
  background-color: var(--verdeClaro) !important;
  color: var(--branco) !important;
}

.select-consulta2__option--is-selected {
  background-color: var(--verdeEscuro) !important;
  color: var(--branco) !important;
}

.form-control-chamado {
  color: var(--verdeMedio);
  border: 1px solid var(--verdeEscuro);
  border-radius: 20px;
}

.form-control-chamado:focus {
  border-color: var(--verdeClaro) !important;
  box-shadow: 0 0 0 0.25rem rgba(6, 145, 122, 0.297) !important;
  outline: 0;
}
