body {
  font-family: 'poppins' !important;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-cell:focus-visible,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-columnHeader:focus-visible,
.MuiDataGrid-row:focus,
.MuiDataGrid-row:focus-visible .MuiDataGrid-main:focus {
  outline: none !important;
  box-shadow: none !important;
}

.MuiDataGrid-row:hover {
  background-color: var(--verdeSuperClaro) !important;
  cursor: pointer; /* se quiser */
}

.MuiDataGrid-row.Mui-selected {
  background-color: transparent !important;
}

.tituloMedicos {
  margin-top: 2%;
  font-size: 40px;
  color: var(--verdeEscuro);
}

.borda-filtro-pacientes {
  border: 2px solid var(--verdeClaro);
  border-radius: 20px;
}

.borda-filtro-pacientes button {
  border-radius: 20px;
}

.borda-filtro-pacientes input {
  border-radius: 20px;
  color: var(--verdeEscuro);
  border: none;
}

.borda-filtro-pacientes input:focus {
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.borda-filtro-pacientes i {
  color: var(--verdeEscuro);
}

.container-filtro-pacientes {
  margin-top: 2%;
  margin-bottom: 2.5%;
}

.total-adm {
  margin-bottom: 6%;
}

.MuiTablePagination-selectLabel.css-s09cke-MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows.css-11cfq65-MuiTablePagination-displayedRows {
  margin: 0 !important;
}

.select-consulta4__control {
  border: 2px solid var(--verdeClaro) !important;
  width: 100%;
  color: var(--verdeEscuro) !important;
  border-radius: 20px !important;
  margin-bottom: 7px;
}

.select-consulta4__control--is-focused {
  border: 2px solid var(--verdeClaro) !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.select-consulta4__placeholder {
  color: var(--verdeMedio);
  padding-right: 100px;
}

.select-consulta4__option {
  padding: 10px;
  color: #212529;
  background-color: #fff;
}

.select-consulta4__option--is-focused {
  background-color: var(--verdeClaro) !important;
  color: var(--branco) !important;
}

.select-consulta4__option--is-selected {
  background-color: var(--verdeEscuro) !important;
  color: var(--branco) !important;
}

.select-consulta4__input-container {
  margin-right: 150px !important;
}

@media (max-width: 768px) {
  .inputs-filtro-adm {
    width: 100% !important;
  }

  .css-b62m3t-container {
    width: 100% !important;
  }
}
